@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --gold: #CD853F;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--gold);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--gold);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--gold);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--gold);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--gold);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 100%;
}

.home .home-slider .slide .content span {
    color: var(--gold);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--gold);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    margin-top: 5px;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.kategori .box-container,
.popular .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.kategori .box-container h3,
.popular .box-container h3 {
    /* text-align: center; */
    font-size: 20px;
    margin-top: 10px;
}

.kategori .box-container .box,
.popular .box-container .box {
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.kategori .box-container .box .image,
.popular .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.kategori .box-container .box .image img,
.popular .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.kategori .box-container .box .content,
.popular .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}

.kategori .box-container .box .content .stars,
.popular .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.kategori .box-container .box .content .stars i,
.popular .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--gold);
}

.kategori .box-container .box .content h3,
.popular .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

/* .popular .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
} */

.popular .box-container .box .content .price {
    color: var(--gold);
    margin-left: 1rem;
    font-size: 2.5rem;
}

/* css footer start */
.footer .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 0.5rem;
    text-align: center;
    padding-top: 20px;
}

.footer .footer-container .box h3 {
    padding: px 0;
    font-size: 20px;
    color: var(--gold);
}

.footer .footer-container .box a {
    display: block;
    padding: 3px 0;
    font-size: 12px;
    color: var(--light-color);
    text-align: left;
    padding-left: 38%;
}

.footer .footer-container .box a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    color: var(--black);
    padding: 12px;
    padding-top: 10px;
    margin-top: 10px;
}

.social-media-icon {
    size: 12px;
}

/* css footer end */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 35rem;
}

.loader-container.fade-out {
    top: -110%;
    opacity: 0;
}

.logo {
    width: 80px;
    height: 80px;
}

/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }


}

@media (max-width:768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .kategori .box-container .box img {
        height: auto;
        width: 100%;
    }

    .faq form .inputBox .input {
        width: 100%;
    }

}

.container {
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: #DFD7BF;
    box-shadow: --box-shadw;
    border-radius: 10px;
    padding: 30px;
    font-size: 18px;
    color: #fafafa;
    margin-top: 30%;
}

.form-group label {
    font-size: 18px;
    color: white;
}

.form-group input {
    font-size: 12px;
}

.btn:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

.btn {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.faq .inputBox {
    max-width: 90rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.faq .inputBox .input {
    width: 100%;
}

.faq .inputBox .input label {
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

.faq .inputBox .input select {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.faq .inputBox .input input {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.faq .inputBox .input textarea {
    background: #eee;
    border-radius: 5px;
    padding: 12px;
    font-size: 15px;
    color: var(--black);
    text-transform: none;
    margin-bottom: 10px;
    width: 100%;
}

.faq .inputBox .input select:focus,
.faq .inputBox .input textarea:focus,
.faq .inputBox .input input:focus {
    border: 2px solid var(--blue);
}

.faq .inputBox .input textarea {
    height: 50px;
}

/* .faq button:hover {
    background: var(--gold);
    letter-spacing: .1rem;
} */

/* css faq end */

/* css review start */
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    position: relative;
    margin: 10px;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h4 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--green);
}

.review .slide p {
    font-size: 1.7rem;
    line-height: 1.8;
    color: var(--light-color);
}

.container {
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: #DFD7BF;
    box-shadow: --box-shadw;
    border-radius: 10px;
    padding: 30px;
    font-size: 18px;
    color: #fafafa;
    margin-top: 50px;
}

.form-group label {
    font-size: 18px;
    color: white;
}

.form-group input {
    font-size: 12px;
}

.btn:hover {
    background: var(--gold);
    letter-spacing: .1rem;
}

.btn {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.form-control {
    border-radius: 5px;
    height: 30px;
}